:root {
  --bg-color: #FFFFFF;
  --dark-bg-color: #292F36;
  --primary-color:#4ECDC4;
  --primary-dark-color:#32936F;
  --secondary-color:#D62828;
  --container-size:720px;
  --gobal-font:'Open Sans', sans-serif;
  --icon-size: 14px;
}

*{
	padding: 0px;
	margin: 0px;
	/*border: 1px solid black;*/
	font-family: var(--gobal-font);
	box-sizing: border-box;
}

body, html{
	height: 100%;
}

a{
	color: var(--dark-bg-color);
	text-decoration: none;
}

ul{
	margin-left: 18px;
}

.hide{
	display: none;
	visibility: hidden;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}

.flex{
	display: flex;
}

.flex-row{
	display: flex;
	flex-direction: column;
}

.navbar{
	background: var(--bg-color);
	width: 100%;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.25);

	/*display: flex;
	justify-content: space-between;*/
	align-items: center;
	padding: 0px 0px;
	position: fixed;
	flex-direction: row;
	z-index: 11;
	/*display: none;*/
}

.navbar .nav-row-1{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.navbar .nav-row-1 .auth-container{
	/*border: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
	/*height: 100%;*/
}

.navbar .nav-row-1 .auth-container a{
	margin-right: 20px;
}
.navbar .nav-row-1 .auth-container .logout-btn{
	margin-left: 20px;
	cursor: pointer;
}

.navbar .nav-row-2{
	width: 100%;
	display: flex;
	/*justify-content: space-around;*/
	padding: 10px 80px 20px 80px;

}

.navbar .nav-row-2 form {
	margin-right: 40px;
}

.logo{
	margin-left: 80px;
}

.logo a img{
	margin-top: 13px;
	height: 45px;
	margin-bottom: 14px;
}

.button{
	border: 0px;
	padding: 8px 20px;
	font-family: var(--gobal-font);
	font-weight: 800;
	border-radius: 6px;
	cursor: pointer;
	background-color: var(--primary-dark-color);
	/*height: 100%;*/
}

.add-btn{
	background: var(--secondary-color);
	color: var(--bg-color);
	display: flex; 
	justify-content: space-between;
	align-items: center;
	margin-right: 80px;
	margin-top: 15px;
}

.add-btn img{
	height: var(--icon-size);
}

.search-btn{
	background: var(--primary-dark-color);
	color: var(--bg-color);
	margin-right: 10px;
}

.search-input{
	display: flex; 
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	padding: 5px 20px;
	border: 1px solid var(--dark-bg-color);	
	margin-right: 10px;
	font-family: var(--gobal-font);
}

.search-input img {
	height: var(--icon-size);	
}

.search-input input{
	border: 0px;	
	font-family: var(--gobal-font);
}


.container{
	display: flex;
	padding-top: 160px;
	width: 100%;
	justify-content: space-between;
}

.left-sidebar{
	/*border: 1px solid black;*/
	margin-left: 80px;
	padding-top: 8px;
	padding-right: 30px;
}

.filter-heading{
	color: var(--primary-dark-color);
	font-weight: 400;
	font-size: 22px;
}

.filter-form .sub-heading{
	font-weight: 400;
	font-size: 14px;
	opacity: 0.5;	
	margin-bottom: 10px;
	z-index: -1;
}


/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
/*   background-color: #32936F; */
  border-radius: 50%;
/*   opacity: 0.5; */
  border: 2px solid #32936F;
   margin-top: 4px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #32936F;
  opacity: 1;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #FFF;
  opacity: 1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #32936F;
}


.filter-form input{
	margin-bottom: 15px;
	margin-right: 5px;
}

.apply-filter-btn{
	background-color: var(--primary-color);
	padding: 4px 10px 6px 10px;
	cursor: pointer;
	border-radius: 5px;
}

.apply-filter-btn input{
	margin-top: 40px;
	background-color: var(--primary-color);
	border: 0px;
	color: var(--bg-color);
	cursor: pointer;
}

.right-sidebar{
	margin-right: 80px;	
}

.mid-container{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	/*margin-left: 20%;*/
	/*border: 1px solid black;	*/
	/*padding-top: 160px;*/
	/*width: var(--container-size);*/
}




.banner-text{
	width: var(--container-size);
	left: 0;
	color: var(--primary-dark-color);
	font-family: var(--gobal-font);
	font-weight: 800;
	font-size: 30px;
	padding-left: 40px;
	margin-bottom: 10px;
}

.post-container{
	display: flex;
	flex-direction: column;
	/*border: 1px solid black;*/
	width: var(--container-size);
	padding: 30px 15px;
	margin: 20px 0px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.title{
	font-size: 20px;
	padding: 0px 20px;
	margin-bottom: 5px;
}

.row-2{
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.row-2 .company-name{
	display: flex;
	align-items: center;
	/*font-size: 13px;*/
	/*font-family: var(--gobal-font);*/
	padding-left: 10px;
}

.row-2 .company-name h5{
	font-weight: 400;
	color: var(--primary-dark-color);
}

.row-2 .company-name img{
	width: var(--icon-size);
	margin-right: 5px;
}

.row-2 .post-date{
	display: flex;
	align-items: center;
}

.row-2 .post-date h5{
	font-weight: 400;
	color: var(--primary-dark-color);
	font-size: 13px;
	margin-left: 5px;
}

.row-2 .post-date img{
	width: var(--icon-size);
}

.description{
	padding: 0px 15px;
	padding-top: 15px;
	margin-bottom: 5px;
}

.description span{
	font-weight: 300;
	color: var(--primary-dark-color);
	font-style: italic;
	font-size: 12.5px;
	padding-left: 10px;
}	


.description h4{
	font-weight: 600;
	font-size: 13px;
}

.row-4{
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 15px;
	/*border: 1px solid black;*/
}


.row-4 .skills{
	padding: 5px 0px;
	width: 65%;
}

.row-4 .skills span{
	font-weight: 300;
	color: var(--primary-dark-color);
	font-style: italic;
	font-size: 12.5px;
	padding-left: 10px;
}	

.row-4 .skills h4{
	font-weight: 600;
	font-size: 13px
}

.row-4 .apply-btn{
	display: flex;	
	align-items: center;
	background: var(--primary-color);
	margin-top: 8px;
}

.row-4 .apply-btn img{
	height: 20px;
}

.row-4 .apply-btn h4{
	font-size: 13px;
	color: var(--bg-color);
}

.form-container{
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	flex-direction: row;
	/*border: 1px solid black;	*/
	padding-top: 100px;
}

.row-1{
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 0px 50px;*/
	width: 100%;
	align-items: center;
	height: 100%;
}

.row-1 form{
	/*margin-left: 80px;*/
	width:50%;
	padding-top: 50px;
}

.row-1 form .row-1-1{
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	/*align-items: center;*/
	margin-bottom: 20px;
}

.row-1 form .row-1-1 input{
	border-radius: 6px;
	padding: 8px 20px;
	border: 1px solid var(--dark-bg-color);	
	font-family: var(--gobal-font);
	width: 48%;
}

.row-1 img{
	height: 450px;
	margin-right: 80px; 
}


.row-1 form .skills{
	border-radius: 6px;
	padding: 8px 20px;
	border: 1px solid var(--dark-bg-color);	
	font-family: var(--gobal-font);
	margin-bottom: 20px;
}

.row-1 form textarea{
	border-radius: 6px;
	padding: 8px 20px;
	border: 1px solid var(--dark-bg-color);	
	font-family: var(--gobal-font);	
	margin-bottom: 20px;
}

.submit-btn{
	color: var(--bg-color);
	font-weight: 700;
	width: 48%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--primary-dark-color);
}



.form-banner{
	/*border: 1px solid black;*/
	width: 100%;
	padding-left: 80px;
	color: var(--primary-dark-color);
	font-family: var(--gobal-font);
}



/*LOGIN PAGE*/

.login-container{
	display: flex;
	padding-top: 66px;
	height: 100%;
}

.container-left{
	width: 50%;
	background-color: #175C43;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-left img{
	width: 80%;
}
.container-right{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px 8%;
}

.container-right .form-banner{
	margin-left: 0px;
	padding: 0px;
	margin-bottom: 40px;
	color: var(--primary-dark-color);
	font-family: var(--gobal-font);
	display: flex;
	align-items: center;
}

.login-form{
	width: 100%;
}

.textbox{
	border-radius: 6px;
	padding: 12px 20px;
	border: 1px solid var(--dark-bg-color);	
	font-family: var(--gobal-font);
	width: 48%;
	width: 100%;
	margin-bottom: 10px;
}

.submit-section{
	/*width: 100%;*/
	margin-top: 20px;
}

.submit-section .left-column{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	/*text-decoration: underline;*/
}
.submit-section .left-column .submit-btn{
	width: 100%;
	background-color: var(--primary-dark-color);
}
.submit-section .left-column span{
	text-decoration: underline;
	font-size: 16px;
	margin-top: 5px;
}

.submit-section .left-column span ,.submit-section .right-column span{
	font-size: 11px;
	color: var(--dark-bg-color);
}

.submit-section .right-column{
	text-align: center;
	width: 40%;
	line-height: 12px;
	padding-top: 6px;
	text-decoration: underline;
}

.error-msg{
	color: var(--secondary-color);
	margin-left: 20px;
	font-size: 13px;
}